.container table {
    border: 2px solid black; /* Черный контур толщиной 2px */
    border-collapse: collapse; /* Объединение границ */
    width: 100%; /* Ширина таблицы 100% */
}

.container td {
    border: 1px solid black; /* Черная рамка вокруг ячеек толщиной 1px */
    padding: 10px; /* Отступ внутри ячеек */
    text-align: center; /* Выравнивание текста по центру */
}

.container th {
    border: 1px solid black; /* Черная рамка вокруг заголовков ячеек */
    padding: 10px; /* Отступ внутри ячеек */
    text-align: center; /* Выравнивание текста по центру */
}
